li {
    padding-left: .25em;
}

section>ol>li:first-child {
    counter-reset: list;
}

ol li::marker {
    font-weight: bold;
}

section>ol>li {
    list-style: none;
    counter-increment: list;
}

ol>li::marker {
    content: "(" counter(list) ")";
}

section>ol>li>ol {
    counter-reset: sublist;
    list-style-type: lower-alpha;
}

section>ol>li>ol>li {
    list-style: none;
    counter-increment: sublist;
}

section>ol>li>ol>li::marker {
    content: "(" counter(sublist, lower-alpha) ")";
}

ol li ol li ol {
    counter-reset: subsublist;
    list-style-type: lower-roman;
}

ol li ol li ol>li {
    list-style: none;
    counter-increment: subsublist;
}

ol li ol li ol>li::marker {
    content: "(" counter(subsublist, lower-roman) ")";
}

@media only screen {
    /* section {
        max-width: 60vw;
        margin: 0 auto;
    } */
    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width));
        flex: 0;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }
    .pagedjs_page {
        margin: 10mm;
        border: solid 1px gray;
    }
}

@page {
    /* marks: crop cross; */
    size: A4;
    margin: 4.5cm 3.5cm 3.5cm 2.5cm;
    padding: 0 5cm 0 0;
    @top {
        content: "Autopublished";
        color: #999;
        text-transform: uppercase;
        border-bottom: 1px solid black;
        margin-bottom: 2cm;
    }
    @bottom-right {
        content: counter(page);
    }
}

@page: first-child h4,
@page: first-child h3,
@page: first-child h2 {}

@media print {
    p,
    ol,
    ul,
    li,
    blockquote {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3,
    h4 {
        page-break-after: avoid;
        column-break-inside: avoid;
        break-inside: avoid;
    }
    li {
        break-inside: avoid;
    }
    .post {
        /* column-count: 2 */
    }
}