@font-face {
    font-family: 'Tiempos-Text';
    src: url('../fonts/TiemposTextWeb-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos-Text';
    src: url('../fonts/TiemposTextWeb-BoldItalic.woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos-Text';
    src: url('../fonts/TiemposTextWeb-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos-Text';
    src: url('../fonts/TiemposTextWeb-RegularItalic.woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos-Text';
    src: url('../fonts/TiemposTextWeb-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@media only screen {
    body {
        /* max-width: 80vw; */
        /* margin-left: auto;
        margin-right: auto; */
    }
    .blog-post {
        /* max-width: 80vw; */
        margin-left: auto;
        margin-right: auto;
    }
}

ol {
    list-style: none;
}

.post>section>ol {
    counter-reset: masterClause;
}

.post>section>ol>li>ol {
    counter-reset: subClause;
}

.post>section>ol>li>ol>li {
    counter-reset: subSubClause;
}

li::before {
    /* color: white; */
    font-weight: bold;
    overflow: hidden;
    display: block;
    width: 1.61rem;
    margin-left: -1.61rem;
    color: #888;
    white-space: nowrap;
}

.post>section>ol>li {
    counter-increment: masterClause;
}

.post>section>ol>li::before {
    content: '('counter(masterClause)')';
    /* background-color: blue; */
}

.post>section>ol>li>ol>li {
    counter-increment: subClause;
}

.post>section>ol>li>ol>li::before {
    content: "("counter(subClause, lower-alpha)")";
    /* background-color: purple */
}

.post>section>ol>li>ol>li>ol>li {
    counter-increment: subSubClause;
}

.post>section>ol>li>ol>li>ol>li::before {
    content: "("counter(subSubClause, lower-roman)")";
}

.post {
    counter-reset: h2counter;
}

h2::before {
    content: counter(h2counter) ". ";
}

h2 {
    counter-increment: h2counter;
}


/* Subthemes */

.post.model-code {
    /* counter-reset: h2counter; */
}

.model-code h1::before {
    content: counter(h1counter) ". ";
    width: 3em;
    display: inline-block;
    margin-left: -3.33em;
    margin-right: .33em;
    text-align: right;
}

.model-code h2::before {
    content: counter(h1counter)"-"counter(h2counter)". ";
    width: 3em;
    display: inline-block;
    text-align: right;
    margin-left: -3.33em;
    margin-right: .33em;
}

.model-code.post>section>ol>li::before {
    content: "("counter(masterClause, upper-alpha)")";
}

.model-code.post>section>ol>li>ol>li::before {
    content: "("counter(subClause, decimal)")";
}

.model-code.post>section>ol>li>ol>li>ol>li::before {
    content: "("counter(subSubClause, lower-alpha)")";
}

.model-code.post>section>h2::first-child {
    counter-set: h2counter 0;
}


/* 
li {
    padding-left: .25em;
}

ol>li:first-child {
    counter-reset: list;
}

ol li::marker {
    font-weight: bold;
}

ol>li {
    list-style: none;
    counter-increment: list;
}

ol>li::marker {
    content: "(" counter(list) ")";
}

ol>li>ol {
    counter-reset: sublist;
    list-style-type: lower-alpha;
}

ol>li>ol>li {
    list-style: none;
    counter-increment: sublist;
}

ol>li>ol>li::marker {
    content: "(" counter(sublist, lower-alpha) ")";
}

ol li ol li ol {
    counter-reset: subsublist;
    list-style-type: lower-roman;
}

ol li ol li ol>li {
    list-style: none;
    counter-increment: subsublist;
}

ol li ol li ol>li::marker {
    content: "(" counter(subsublist, lower-roman) ")";
} */

section>dl,
section>ol,
section>ul {
    /* width: 60%; */
}

li[data-split-from]::marker {
    color: red
}

@page {
    --usable-page-area: calc((var(--pagedjs-pagebox-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right)));
    /* e.g. 210 - 25 - 25  = 160mm */
    --page-body-area: calc(var(--usable-page-area) * 0.65);
    --page-margin-area: calc(var(--usable-page-area) - var(--page-body-area));
    --page-margin-body-gutter: 12mm;
}

.pagedjs_pages .post {
    width: calc(var(--page-body-area))!important
}

.sidenote {
    padding-bottom: 1.61rem;
    font-family: system-ui;
    color: #ff6e61;
}

h2 {
    color: #ff6e61
}

.note-marker_sidenote::before {
    vertical-align: super;
    /* float: left; */
    margin-right: 0.4025rem;
    font-size: 6pt;
}

@media only screen {
    .post {
        width: 55%;
    }
    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
        counter-reset: sidenote-counter;
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
    .sidenote,
    .marginnote {
        float: right;
        clear: right;
        margin-right: -60%;
        width: 50%;
        margin-top: 0.3rem;
        margin-bottom: 0;
        /* vertical-align: baseline; */
        position: relative;
    }
    .pagedjs_pages .sidenote-number {
        display: none;
    }
    .pagedjs_pages .sidenote:before {
        display: none;
    }
    .sidenote-number {
        counter-increment: sidenote-counter;
    }
    .sidenote-number:after,
    .sidenote:before {
        position: relative;
        vertical-align: baseline;
    }
    .sidenote-number:after {
        content: counter(sidenote-counter);
        font-size: 1rem;
        top: -0.5rem;
        left: 0.1rem;
    }
    .sidenote:before {
        content: counter(sidenote-counter) " ";
        font-size: 0.7rem;
        top: -0.5rem;
    }
    input.margin-toggle {
        display: none;
    }
    label.sidenote-number {
        display: inline;
    }
    label.margin-toggle:not(.sidenote-number) {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    body {
        padding-left: 8%;
        padding-right: 8%;
    }
    .post {
        width: 100%;
    }
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }
    .sidenote,
    .marginnote {
        display: none;
    }
    .margin-toggle:checked+.sidenote,
    .margin-toggle:checked+.marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }
    label {
        cursor: pointer;
    }
}

@media only screen {
    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width));
        flex: 0;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }
    .pagedjs_page {
        /* margin: 10mm; */
        border: solid 1px gray;
    }
}

@media only print {
    .margin-toggle {
        display: none;
    }
    .hide-on-print {
        display: none;
    }
}

.note-call_sidenote::after {
    vertical-align: super;
    color: #fff;
    font-size: 6pt;
    font-family: system-ui;
    font-weight: bold;
    background-color: #ff6e61;
    padding: 2px;
    border-radius: 4px;
}

h2 {
    string-set: chapter content(text)
}

@page {
    /* marks: crop cross; */
    size: letter;
    margin: 3cm 3.5cm 3.5cm 2.5cm;
    @top-left {
        border-bottom: 1px solid #999;
        content: "Model Legislation";
        letter-spacing: 0.05em;
        margin-bottom: .75cm;
        color: #999;
        text-transform: uppercase;
        font-size: 9pt;
        padding-bottom: .25cm;
        align-items: flex-end;
    }
    @top-right {
        content: string(chapter) " • " counter(page);
        min-width: 5cm;
        color: #999;
        text-transform: uppercase;
        border-bottom: 1px solid #999;
        padding-bottom: .25cm;
        margin-bottom: .75cm;
        align-items: flex-end;
        font-size: 9pt;
    }
}

.pagedjs_left_page .post {
    /* margin-left: auto */
}

@media print {
    /* .tocLink::before {
        content: 'p ' target-counter(attr(href), page);
        display: inline-block;
    } */
    .toc-wrapper {
        page-break-after: always;
    }
    .post.model-code {
        page-break-before: page;
    }
    section {
        widows: 4;
        orphans: 4;
    }
    p,
    ol,
    ul,
    li,
    blockquote {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3,
    h4 {
        page-break-after: avoid;
        /* column-break-inside: avoid; */
        /* break-inside: avoid; */
    }
    h2+p,
    h2+ol {
        /* page-break-after: avoid; */
        /* break-inside: avoid; */
        widows: 4;
        orphans: 4;
    }
    h2+ol li:first-child {
        /* break-inside: avoid; */
    }
    h2+ol li:first-child ol {
        /* break-inside: auto; */
    }
    li {
        /* break-inside: avoid; */
    }
    .post {
        /* column-count: 2 */
    }
}