@media screen {
    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width));
        flex: 0;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }
    .pagedjs_page {
        margin: 10mm;
        border: solid 1px gray;
    }
}

@page {
    marks: crop cross;
    size: A4;
    margin: 1.5cm 2.5cm 2.5cm 1.5cm;
    padding: 0;
    @bottom-right {
        content: counter(page);
    }
}

.post {
    column-count: 2
}

@media print {
    h2,
    h3,
    h4 {
        page-break-after: avoid;
    }
}

h2+p {
    color: red;
}